html,
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 8px;
}

#gh-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  z-index: 1;
}

@media (max-width: 480px) {
  #gh-link {
    display: none;
  }
}

.mdc-text-field {
  margin: 8px 0;
}
